In [57]:
odds=[1,3,5,7]
print 'odds are',  odds

odds are [1, 3, 5, 7]

In [59]:
for number in odds:
    print number

1
11
5
7

In [16]:
print odds[1]

11

In [58]:
odds[1]=11

In [18]:
string= 'oxygen'

In [19]:
print string[1]

x

In [21]:
string[1]= 'X'

TypeError: 'str' object does not support item assignment

In [24]:
names=['Newton', 'Darwin', 'Turing']
print "names list is currently: ", names
names

names list is currently:  ['Newton', 'Darwin', 'Turing']

['Newton', 'Darwin', 'Turing']

In [29]:
names[1] = 'Darwin'
print names

['Newton', 'Darwin', 'Turing']

In [30]:
x = [['pepper', 'zucchini', 'onion'], ['apple', 'pear', 'banana']]

In [32]:
for list in x:
    print(list)

['pepper', 'zucchini', 'onion']
['apple', 'pear', 'banana']

In [42]:
# print first list
print x[0]
# find first name in first list
print x[0][0]
#find first letter in first name in first list
x[0][0][0]

['pepper', 'zucchini', 'onion']
pepper

'p'

In [61]:
odds.append(15)

In [62]:
print 'odds list after appending: ', odds

odds list after appending:  [1, 11, 5, 7, 15]

In [63]:
del odds[-1] # remove last index
odds

[1, 11, 5, 7]

In [68]:
odds.reverse()
print odds

[7, 5, 11, 1]

In [86]:
## make string into a list
string = 'hello'
type(string)

newlist =[]
print newlist
for char in string:
    newlist.append(char)
    print newlist
    
print newlist
type(newlist)

[]
['h']
['h', 'e']
['h', 'e', 'l']
['h', 'e', 'l', 'l']
['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']

list

# Conditionals

In [100]:
num =1000

if num > 100:
    print "Greater! yay"
else:
    print 'less.'

print "done"

less.
done

In [110]:
num = -5

if num > 0:
    print num, 'is postive'
elif num == 0:
    print num, 'is zero'
else:
    print num, 'is negative'

-5 is negative

In [114]:
if (1>0) or (-1 > 0):
    print "at least one thing is true"
else:
    print "nothing is true and everything is false"

at least one thing is true

# what is truth?

In [118]:
if "":
    print "empty string is true"
if 'word':
    print 'the string is truth'
    print 'word'
if []:
    print "empty list is true"

the string is truth
word

In [134]:
## print true if a is within 10% of b
a=109
b=100

if (b - (b*.1)) <= a <= (b + (b*.1)) :
    print "yep"
else:
    print "nope"
    
    ## doesn't work with negative numbers!

yep

In [174]:
print float(a/b)
if .9 < (a/b) < 1.1:
    print  "yep"
else:
    print "nope"

1.0
yep

In [22]:
def fahr_to_kelvin(temp_f):
    temp_k =((temp_f - 32)*(5.0/9.0))+273.15 
    return temp_k

In [23]:
res = fahr_to_kelvin(451)
print res

505.927777778

In [24]:
def kelvin_to_celsius(temp_k):
    temp_c = temp_k - 273.15 
    return temp_c

In [25]:
kelv = kelvin_to_celcius(100)
print kelv

-173.15

In [26]:
def fahr_to_celsius(temp_f):
    temp_k = fahr_to_kelvin(temp_f)
    temp_c = kelvin_to_celsius(temp_k)
    return( temp_c)

In [27]:
print "freezing point of water in celsius is", fahr_to_celsius(32)

freezing point of water in celsius is 0.0

In [31]:
a = "hi "
b= "errbody"

a+b

'hi errbody'

In [32]:
def join_words(a,b):
    return a+b

In [35]:
join_words("hi ", "errbody")

'hi errbody'

In [40]:
def outer(word):
    first =word[0]
    last = word[-1]
    return first+last

In [41]:
outer("helium")

'hm'

In [43]:
numbers_to_multiply = [1,2,3,4,5,6,7,8,9,10]

In [50]:
def times_five(numbers_to_multiply):
    new_numbers = []
    for num in numbers_to_multiply:
        new_numbers.append(num*5)
    return new_numbers

In [51]:
times_five(numbers_to_multiply)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]